
$smallWidth:680px;
$mediumWidth:1080px;
@mixin mediaQuery($deviceSize){
  @if $deviceSize == smallSize{
    @media only screen and (max-width:$smallWidth){
      @content;
    }
  }
  @else if $deviceSize == mediumSize{
    @media only screen and (max-width:$mediumWidth){
      @content;
    }
  }
  @else if $deviceSize == largeSize{
    @content;
  }
}
body{
  padding: 0;
  margin: 0;
  background: {
    image: url("https://scontent.fsyd3-1.fna.fbcdn.net/v/t1.0-9/135519967_247035163453180_9212745666392055373_o.jpg?_nc_cat=107&ccb=2&_nc_sid=730e14&_nc_ohc=Pal4rVDXhr0AX_9l37t&_nc_ht=scontent.fsyd3-1.fna&oh=352b38069f348d19246b03a5c1421814&oe=6018BC05");
    repeat: no-repeat;
    attachment: fixed;
    size: cover;
  }
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    list-style: none;
    margin: 20px;
    padding: 10px;
    a{
      text-decoration: none;
      cursor: pointer;
      font-family: 'Maven Pro', sans-serif;
      &:hover{color: black;}
      &:visited{color: black;}

    }
  }
}

.page{
  // margin: auto;
  // width: 1000px;
  // height: 500px;
  // background: lightblue;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.page.page-current{
  display: block
}

//Home Page------------------------------------------------------------------------------
.home-page{
  position: relative;
  margin: auto;
  min-width: 700px;
  height: 470px;
  background-color: #fcf8ec;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    .box__left{
      display: inline-block;

      position: relative;
      width: 50%;
      height:470px;
      background-color: #B7CFDC;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
        .personal__icon{
          border-radius: 50%;
          max-width: 200px;
          height: 200px;
          position: absolute;
          top: 28px;
          left: 74px;
        }
        .personal__name{
          position: absolute;
          margin: auto;
          top: 245px;
          left: 118px;
          font-family: 'Poppins', sans-serif;
          font-size: 27px;
        }
        .dividing-line{
          position: absolute;
          top: 300px;
          left: 138px;
          width: 70px;
          height: 3px;
          background-color: #385E72;
        }
        .personal__role{
          position: absolute;
          top: 335px;
          left: 115px;
          font-family: 'Maven Pro', sans-serif;
          font-size: 17px;
        }
        .social__media__container{
          position: absolute;
          bottom: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 350px;
          height: 50px;
          background-color: #fcf8ec;
            >a{
              display: inline-block;
              width: 31px;
              height: 31px;
              margin: 10px;
                >img{
                  cursor: pointer;
                  width: 31px;
                  height: 31px;
                }
            }
        }
    }
    .box__right{
      display: inline-block;
      position: absolute;
      min-width: 320px;
      height: 470px;
      left: 350px;
      margin-left: 20px;
        .right__heading{
          position: absolute;
          margin: 0;
          top: 30px;
          font:{
            family: 'Poppins', sans-serif;
            size: 100px;
          }
        }
        .right__content{
          font:{
            family: 'Maven Pro', sans-serif;
            size: 24px;
            weight: bold;
          }
          position: absolute;
          top: 185px;
        }
        .resume__button{
          position: absolute;
          top: 235px;
          width: 135px;
          height: 30px;
          border: 1px solid #6AABD2;
          background-color: #6AABD2;
          border-radius: 50px;
          cursor: pointer;
          transition-duration: 0.6s;
          &:hover{
            background-color: white;
            border: 1px solid black;
              >a{
                color: black;
                text-decoration: none;
              }
          }
           >a{
            color: white;
            text-decoration: none;
            font:{
              family: 'Maven Pro', sans-serif;
              weight: bold;
            }
           }
        }
        .service__button{
          position: absolute;
          top: 235px;
          left: 150px;
          width: 135px;
          height: 30px;
          border: 1px solid black;
          background-color: white;
          border-radius: 50px;
          cursor: pointer;
          transition-duration: 0.6s;
          &:hover{
            background-color: #6AABD2;
            border: 1px solid #6AABD2;
              >a{
                color: white;
                text-decoration: none;
              }
          }
           >a{
            color: black;
            text-decoration: none;
            font:{
              family: 'Maven Pro', sans-serif;
              weight: bold;
            }
           }
        }
        .description__heading{
          position: absolute;
          top:260px;
          font:{
            family: 'Maven Pro', sans-serif;
          }
        }
        .description{
          position: absolute;
          top: 310px;
          font:{
            family: 'Maven Pro', sans-serif;
            size: 17px;
          }
        }
    }
}

//---------------------------Resume Page---------------------------------------------------------------------------------
#page-container{
  display:flex;
  justify-content: center;
}
.resume{
  &__heading{
    max-width: 100%;
    min-width: 20%;
    height: 100px;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
    background-color: #6AABD2;
    font:{
      family: 'Poppins', sans-serif;
      size: 50px;
    }
  }
  &-page{
    max-width:1000px;
    width:90%;
    min-width: 480px;
    margin-bottom: 50px;
    min-height: 800px;
    background-color: #fcf8ec;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }
// ---------------Education Information------------------
  &__content{
    display:flex;
    flex-direction: row;
    @include mediaQuery(mediumSize){
      flex-direction: column;
    }
    &>div{
      width:100%;
      box-sizing: border-box;
      margin-bottom:20px;
    }
    .education__box{
      min-height: 400px;
      top: 120px;
        .header__box{
          display: flex;
          justify-content: flex-start;
            .education__icon{
              width: 50px;
              height: 50px;
              margin: 15px 15px 15px 25px;
            }
            .education__heading{
              margin: 10px;
              padding-top: 10px;
                font:{
                  family: 'Maven Pro', sans-serif;
                  size: 30px;
                }
            }
        }
    }
    //Project box
    .project__box {
      height: 700px;
      top: 120px;
      left: 500px;
        .header__box {
          display: flex;
          justify-content: flex-start;
          .project__icon{
            width: 45px;
            height: 45px;
            margin: 15px 15px 15px 25px;
          }
          .project__heading{
            margin: 10px;
            padding-top: 10px;
              font:{
                family: 'Maven Pro', sans-serif;
                size: 30px;
              }
          }
        }
    }
    //-------------Item--------------
    .item__box{
      height: 515px;
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      border-left: 4px solid #B7CFDC;
      .education__item{
        position: relative;
        max-width: 85%;
        min-width: 80%;
        height: 150px;
        margin-top: 20px;
        border-left: 4px solid #B7CFDC;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
        left: 50px;
        &:hover{
          box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        }
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          left: -69px;
          top: 30px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #B7CFDC;
        }
        &::after{
          content: '';
          display: inline-block;
          position: absolute;
          top: 42px;
          width: 45px;
          height: 3px;
          left: -47px;;
          background-color: #B7CFDC;
        }
        .item__header{
          position: absolute;
          width: 300px;
          height: 20px;
          left: 10px;
          margin-top: 15px;
          font:{
            family: 'Maven Pro', sans-serif;
            size: 18px;
          }
        }
        .item__period{
          position: absolute;
          display: inline-block;
          top: 55px;
          left: 10px;
          width: 130px;
          height: 20px;

        }
        .item__location{
          position: absolute;
          top: 55px;
          left: 140px;
          width: 250px;
          height: 20px;
          border-left: 3px solid #B7CFDC;
          padding-left: 15px;
        }
        .item__description{
          position: absolute;
          top: 70px;
          left: 10px;
          width: 300px;
        }
      }
    }
  }
}

// ---------------------------------Service Page----------------------------

.service-page{
  max-width:1000px;
  width:90%;
  margin-bottom: 50px;
  min-height: 800px;
  background-color: #fcf8ec;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    .service__box{
        .box__heading{
          max-width: 100%;
          min-width: 20%;
          height: 100px;
          margin-top: 0;
          padding-top: 20px;
          text-align: center;
          background-color: #6AABD2;
          font:{
            family: 'Poppins', sans-serif;
            size: 50px;
          }
        }
        .service__content{
          max-width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 20px;
          justify-content: space-around;
            .service__card{
              @include mediaQuery(mediumSize){
                width:50%;
              }
              @include mediaQuery(smallSize){
                width:100%;
              }
              width: 30%;
              display: flex;
              flex-direction: column;
              align-items: center;
                .card__imgContainer{
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                    background-color: #D9E4EC;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                      .card__img{
                        width: 55px;
                      }
                }
                .card__name{
                  font:{
                    family: 'Maven Pro', sans-serif;
                  }
                }
                .card__content{
                  padding: 0 30px;
                  text-align: center;
                  box-sizing: border-box;
                }
            }
        }
    }
}
.icon{
  display:block;
  width:20px;
  height:20px;
  &--email{
    -webkit-mask:url(../asset/email-24px.svg) no-repeat center/contain;
  }
}
//--------------------- Contact Page--------------------------------
.contact-page{
  max-width:1000px;
  width:90%;
  margin-bottom: 50px;
  min-height: 800px;
  background-color: #fcf8ec;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
