body {
  padding: 0;
  margin: 0;
  background-image: url("https://scontent.fsyd3-1.fna.fbcdn.net/v/t1.0-9/135519967_247035163453180_9212745666392055373_o.jpg?_nc_cat=107&ccb=2&_nc_sid=730e14&_nc_ohc=Pal4rVDXhr0AX_9l37t&_nc_ht=scontent.fsyd3-1.fna&oh=352b38069f348d19246b03a5c1421814&oe=6018BC05");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin: 20px;
  padding: 10px;
}
ul li a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Maven Pro", sans-serif;
}
ul li a:hover {
  color: black;
}
ul li a:visited {
  color: black;
}

.page {
  display: none;
}

.page.page-current {
  display: block;
}

.home-page {
  position: relative;
  margin: auto;
  min-width: 700px;
  height: 470px;
  background-color: #fcf8ec;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.home-page .box__left {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 470px;
  background-color: #B7CFDC;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.home-page .box__left .personal__icon {
  border-radius: 50%;
  max-width: 200px;
  height: 200px;
  position: absolute;
  top: 28px;
  left: 74px;
}
.home-page .box__left .personal__name {
  position: absolute;
  margin: auto;
  top: 245px;
  left: 118px;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
}
.home-page .box__left .dividing-line {
  position: absolute;
  top: 300px;
  left: 138px;
  width: 70px;
  height: 3px;
  background-color: #385E72;
}
.home-page .box__left .personal__role {
  position: absolute;
  top: 335px;
  left: 115px;
  font-family: "Maven Pro", sans-serif;
  font-size: 17px;
}
.home-page .box__left .social__media__container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
  height: 50px;
  background-color: #fcf8ec;
}
.home-page .box__left .social__media__container > a {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin: 10px;
}
.home-page .box__left .social__media__container > a > img {
  cursor: pointer;
  width: 31px;
  height: 31px;
}
.home-page .box__right {
  display: inline-block;
  position: absolute;
  min-width: 320px;
  height: 470px;
  left: 350px;
  margin-left: 20px;
}
.home-page .box__right .right__heading {
  position: absolute;
  margin: 0;
  top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
}
.home-page .box__right .right__content {
  font-family: "Maven Pro", sans-serif;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 185px;
}
.home-page .box__right .resume__button {
  position: absolute;
  top: 235px;
  width: 135px;
  height: 30px;
  border: 1px solid #6AABD2;
  background-color: #6AABD2;
  border-radius: 50px;
  cursor: pointer;
  transition-duration: 0.6s;
}
.home-page .box__right .resume__button:hover {
  background-color: white;
  border: 1px solid black;
}
.home-page .box__right .resume__button:hover > a {
  color: black;
  text-decoration: none;
}
.home-page .box__right .resume__button > a {
  color: white;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}
.home-page .box__right .service__button {
  position: absolute;
  top: 235px;
  left: 150px;
  width: 135px;
  height: 30px;
  border: 1px solid black;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  transition-duration: 0.6s;
}
.home-page .box__right .service__button:hover {
  background-color: #6AABD2;
  border: 1px solid #6AABD2;
}
.home-page .box__right .service__button:hover > a {
  color: white;
  text-decoration: none;
}
.home-page .box__right .service__button > a {
  color: black;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}
.home-page .box__right .description__heading {
  position: absolute;
  top: 260px;
  font-family: "Maven Pro", sans-serif;
}
.home-page .box__right .description {
  position: absolute;
  top: 310px;
  font-family: "Maven Pro", sans-serif;
  font-size: 17px;
}

#page-container {
  display: flex;
  justify-content: center;
}

.resume__heading {
  max-width: 100%;
  min-width: 20%;
  height: 100px;
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  background-color: #6AABD2;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.resume-page {
  max-width: 1000px;
  width: 90%;
  min-width: 480px;
  margin-bottom: 50px;
  min-height: 800px;
  background-color: #fcf8ec;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.resume__content {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1080px) {
  .resume__content {
    flex-direction: column;
  }
}
.resume__content > div {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.resume__content .education__box {
  min-height: 400px;
  top: 120px;
}
.resume__content .education__box .header__box {
  display: flex;
  justify-content: flex-start;
}
.resume__content .education__box .header__box .education__icon {
  width: 50px;
  height: 50px;
  margin: 15px 15px 15px 25px;
}
.resume__content .education__box .header__box .education__heading {
  margin: 10px;
  padding-top: 10px;
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
}
.resume__content .project__box {
  height: 700px;
  top: 120px;
  left: 500px;
}
.resume__content .project__box .header__box {
  display: flex;
  justify-content: flex-start;
}
.resume__content .project__box .header__box .project__icon {
  width: 45px;
  height: 45px;
  margin: 15px 15px 15px 25px;
}
.resume__content .project__box .header__box .project__heading {
  margin: 10px;
  padding-top: 10px;
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
}
.resume__content .item__box {
  height: 515px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  border-left: 4px solid #B7CFDC;
}
.resume__content .item__box .education__item {
  position: relative;
  max-width: 85%;
  min-width: 80%;
  height: 150px;
  margin-top: 20px;
  border-left: 4px solid #B7CFDC;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  left: 50px;
}
.resume__content .item__box .education__item:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.resume__content .item__box .education__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -69px;
  top: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #B7CFDC;
}
.resume__content .item__box .education__item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 42px;
  width: 45px;
  height: 3px;
  left: -47px;
  background-color: #B7CFDC;
}
.resume__content .item__box .education__item .item__header {
  position: absolute;
  width: 300px;
  height: 20px;
  left: 10px;
  margin-top: 15px;
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
}
.resume__content .item__box .education__item .item__period {
  position: absolute;
  display: inline-block;
  top: 55px;
  left: 10px;
  width: 130px;
  height: 20px;
}
.resume__content .item__box .education__item .item__location {
  position: absolute;
  top: 55px;
  left: 140px;
  width: 250px;
  height: 20px;
  border-left: 3px solid #B7CFDC;
  padding-left: 15px;
}
.resume__content .item__box .education__item .item__description {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 300px;
}

.service-page {
  max-width: 1000px;
  width: 90%;
  margin-bottom: 50px;
  min-height: 800px;
  background-color: #fcf8ec;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.service-page .service__box .box__heading {
  max-width: 100%;
  min-width: 20%;
  height: 100px;
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  background-color: #6AABD2;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.service-page .service__box .service__content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}
.service-page .service__box .service__content .service__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1080px) {
  .service-page .service__box .service__content .service__card {
    width: 50%;
  }
}
@media only screen and (max-width: 680px) {
  .service-page .service__box .service__content .service__card {
    width: 100%;
  }
}
.service-page .service__box .service__content .service__card .card__imgContainer {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #D9E4EC;
  align-items: center;
  display: flex;
  justify-content: center;
}
.service-page .service__box .service__content .service__card .card__imgContainer .card__img {
  width: 55px;
}
.service-page .service__box .service__content .service__card .card__name {
  font-family: "Maven Pro", sans-serif;
}
.service-page .service__box .service__content .service__card .card__content {
  padding: 0 30px;
  text-align: center;
  box-sizing: border-box;
}

.contact-page {
  max-width: 1000px;
  width: 90%;
  margin-bottom: 50px;
  min-height: 800px;
  background-color: #fcf8ec;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.contact-page .contact__heading {
  max-width: 100%;
  min-width: 20%;
  height: 100px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 20px;
  text-align: center;
  background-color: #6AABD2;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.contact-page .content__box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact-page .content__box .contact__info {
  width: 100%;
  margin: 5px 35px;
  display: flex;
  flex-direction: column;
}
.contact-page .content__box .contact__info h3 {
  margin: 10px 0;
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
}
.contact-page .content__box .contact__info h3 span {
  color: #6AABD2;
}
.contact-page .content__box .contact__info .contact__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}
.contact-page .content__box .contact__info .contact__item .mapouter {
  position: relative;
  text-align: right;
  height: 275px;
  width: 440px;
}
.contact-page .content__box .contact__info .contact__item .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 275px;
  width: 440px;
}
.contact-page .content__box .contact__info .contact__item .icon {
  width: 20px;
  height: 20px;
}
.contact-page .content__box .contact__info .contact__item .icon--location {
  -webkit-mask: url(../asset/location_on-24px.svg) no-repeat center/contain;
  background-color: black;
}
.contact-page .content__box .contact__info .contact__item .icon--email {
  -webkit-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  background-color: black;
}
.contact-page .content__box .contact__info .contact__item .icon--phone {
  -webkit-mask: url(../asset/perm_phone_msg-24px.svg) no-repeat center/contain;
  background-color: black;
}
.contact-page .content__box .contact__info .contact__item .icon--status {
  -webkit-mask: url(../asset/done-24px.svg) no-repeat center/contain;
  background-color: black;
}
.contact-page .content__box .contact__info .contact__item p {
  margin: 5px 15px;
  font-family: "Maven Pro", sans-serif;
}
.contact-page .content__box .contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-page .content__box .contact__form h3 {
  margin: 10px 0;
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
}
.contact-page .content__box .contact__form h3 span {
  color: #6AABD2;
}
.contact-page .content__box .contact__form .form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.contact-page .content__box .contact__form .form__item .item__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 10px;
}
.contact-page .content__box .contact__form .form__item .item__box .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.contact-page .content__box .contact__form .form__item .item__box .icon--name {
  -webkit-mask: url(../asset/person-24px.svg) no-repeat center/contain;
  background-color: black;
}
.contact-page .content__box .contact__form .form__item .item__box .icon--email {
  -webkit-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  background-color: black;
}
.contact-page .content__box .contact__form .form__item .item__box .icon--message {
  -webkit-mask: url(../asset/message-24px.svg) no-repeat center/contain;
  background-color: black;
}
.contact-page .content__box .contact__form .form__item .item__box input {
  border-style: none;
}
.contact-page .content__box .contact__form .form__item .item__box input:hover {
  border-style: none;
  border-bottom: 1px solid black;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.contact-page .content__box .contact__form .form__item .item__box input:focus {
  border: 0px;
}
.contact-page .content__box .contact__form .form__item .item__box textarea {
  border: 0px;
  margin: 0 40px 0 3px;
  width: 100%;
}
.contact-page .content__box .contact__form .form__item .item__box textarea:hover {
  border-bottom: 1px solid black;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.contact-page .content__box .contact__form .form__item .item__box textarea:focus {
  border: 0px;
}
.contact-page .content__box .contact__form .form__item .button--submit {
  width: 35%;
  height: 35px;
  border: 1px solid #6AABD2;
  background-color: #fcf8ec;
}

/*# sourceMappingURL=index.css.map */
